{% if admin.isGranted('duyet-bang-diem',object) %}
    <a target="_blank" class="btn btn-info"
       href="{{ path('admin_app_binhle_thieunhi_chidoan_bangdiem_list', {'id': object.id, 'hocKy':1,'action':'xem' }) }}">
        Xem Bảng điểm</a>
    <br style="line-height: 34px;"/>
    {% if object.hoanTatBangDiemHK2 is empty %}
        {% if object.hoanTatBangDiemHK1 is not empty %}
            {#<a class="btn btn-info"#}
            {#href="{{ path('admin_app_binhle_thieunhi_phanbo_thieuNhiNhomDownloadBangDiem',{'id':object.cacTruongPhuTrachDoi.first.phanBoHangNam.id, 'hocKy':1}) }}">Tải#}
            {#Bảng điểm Học-kỳ I</a>#}
            {% if object.duyetBangDiemHK1CDT is empty %}
                <a class="btn btn-primary"
                   href="{{ path('admin_app_binhle_thieunhi_doinhomgiaoly_bangDiem', {'id': object.id, 'hocKy':1,'action':'duyet' }) }}">Duyệt
                    Bảng điểm Học-kỳ I</a>
            {% else %}
                <a class="btn btn-success disabled"
                   href="#">Bảng điểm Học-kỳ I đã được duyệt</a>
            {% endif %}

            {% if object.chiDoan.isHoanTatBangDiemHK1() is empty %}
                <a class="btn btn-warning"
                   href="{{ path('admin_app_binhle_thieunhi_doinhomgiaoly_bangDiem', {'id': object.id, 'hocKy':1,'action':'tra-ve' }) }}">Trả
                    Bảng điểm về</a>
            {% endif %}
        {% else %}
            <a class="btn btn-primary disabled"
               href="#">Bảng điểm Học-kỳ I chưa hoàn tất</a>
        {% endif %}
        <br/>
        <a class="btn btn-primary disabled"
           href="#">Bảng điểm Học-kỳ II chưa hoàn tất</a>
    {% else %}

        {# object.hoanTatBangDiemHK2 is NOT empty #}
    {% endif %}
{% endif %}

