{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
    <ul>
        <li>
            <strong>Tổng thu theo thực tế <br/> <code>{{ object.soTienQuyDaDong|number_format }}</code></strong>
        </li>
        <li>
            <strong>Tổng thu theo Công-thức <br/> <code>{{ ( object.soThieuNhiDongQuy * object.namHoc.tienQuy )|number_format }}</code></strong>
        </li>
        <li>
            <strong>Tổng thu theo Công thức dựa trên Sĩ-số <br/> <code>{{ (object.soThieuNhi * object.namHoc.tienQuy) | number_format }}</code></strong>
        </li>
    </ul>
{% endblock %}
