{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <div class="bg-dark collapse" id="navbarHeader" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background context. Make it a few sentences long so folks can pick up some informative
                            tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2"
                         viewBox="0 0 24 24" focusable="false">
                        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                        <circle cx="12" cy="13" r="4"></circle>
                    </svg>
                    <strong>Danh sách bầu cử Vòng 1</strong>
                </a>
                {#                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"#}
                {#                        data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"#}
                {#                        aria-label="Toggle navigation">#}
                {#                    <span class="navbar-toggler-icon"></span>#}
                {#                </button>#}
            </div>
        </div>
    </header>

    <main role="main">
        <section class="text-left">
            <div class="container">
                {% set url = "#" %}
                <h3>Các Phiếu bầu cho ...</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Code/Thời gian</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <strong>000-000-000</strong>
                            <br>
                            12:01:00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong><code>123-456-789</code></strong>
                            <br>
                            12:00:00
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer class="text-muted">
        <div class="container">
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function formatPrice(val, row) {
            return '';
            // if (val < 30){
            //     return '<span style="color:red;">('+val+')</span>';
            // } else {
            //     return val;
            // }
        }
    </script>
    <script type="text/javascript" src="/easyui/datagrid-filter.js"></script>
    <script type="text/javascript">
        var data = [
            {
                "productname": 'PHANXICO XAVIE <br/><strong><code>CHA CHU GIA NGHĨA</code></strong><br/>aka: <strong>Loan nhỏ</strong><br>Năm sinh: 1987<br/>NGHĨA SĨ<br/>15 tuổi<div class="text-right"><a href="https://google.com" class="btn btn-primary">Bầu chọn </a></div>',
                "unitcost": 12.00,
                "status": "P",
                "listprice": 18.50,
                "attr1": "Spotted Adult Female"
            },
        ];
        $(function () {
            var dg = $('#dg').datagrid();
            dg.datagrid('enableFilter', [{
                field: 'listprice',
                type: 'numberbox',
                options: {precision: 1},
                op: ['equal', 'notequal', 'less', 'greater']
            }, {
                field: 'unitcost',
                type: 'numberbox',
                options: {precision: 1},
                op: ['equal', 'notequal', 'less', 'greater']
            }, {
                field: 'status',
                type: 'combobox',
                options: {
                    panelHeight: 'auto',
                    data: [{value: '', text: 'All'}, {value: 'P', text: 'P'}, {value: 'N', text: 'N'}],
                    onChange: function (value) {
                        if (value == '') {
                            dg.datagrid('removeFilterRule', 'status');
                        } else {
                            dg.datagrid('addFilterRule', {
                                field: 'status',
                                op: 'equal',
                                value: value
                            });
                        }
                        dg.datagrid('doFilter');
                    }
                }
            }]);
        });
    </script>
{% endblock %}