{% if admin.isGranted('xet-len-lop',object) %}
    <br/>
    <a onclick="return confirm('Có chắc là em này được xét lên lớp?')" class="btn btn-success"
       href="{{ admin.generateUrl('xetLenLop',{'id':object.id}) }}">Xét lên lớp</a>
{% endif %}

